.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0.8;
}

.login-button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
}

.forgot-password {
  margin-bottom: 20px;
  text-align: center;
}

.background-image {
  position: fixed;
  top: 0;
  left: -179px;
  width: 130%;
  height: 60%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-image: url('https://res.cloudinary.com/dh6dvndzn/image/upload/v1709633495/imgLogin.png');
}

@media only screen and (max-width: 600px) {
  .LoginPage {
    padding: 0 10px;
  }

  .input-field,
  .login-button,
  .login-with-guest {
    max-width: 100%;
  }


  .background-image {
    height: 100%;
    display: none;
  }
}
