.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .registration-text {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 5px;
  }
  
  .input-container {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .input-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .input-container input {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
  }
  
  .register-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
  }
  
  .back-to-login-button {
    background-color: #428bca;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
  }