/* Trong file Register.css */

.Register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

h1 {
  font-size: 25px; 
  margin-bottom: 20px;
  margin-top: 130px;
  font: 1em sans-serif;
}

.Register h1 {
  margin-bottom: 20px;
}

.Register label {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  text-align: left;
}

.Register input,
.Register select {
  width: 100%;
  max-width: 350px;
  padding: 17px;
  margin-bottom: 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0.8; 
}

.Register button {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px;
}

.Register .forgot-password {
  margin-bottom: 20px;
}

 .register-button {
  width: fit-content;
  text-decoration: underline; 
  color: rgb(170, 163, 163); 
  background-color: transparent; 
  border: none;
  padding: 0; 
  margin-bottom: 20px;
  cursor: pointer;
}

.login-link a {
  color: rgb(170, 163, 163);
  text-decoration: underline;
}
.line {
  width: 100%;
  max-width: 350px;
  height: 1px;
  background-color: #b7b2b2;
  margin-bottom: 20px;
  opacity: 0.5; 
}
.Register::before {
  content: '';
  position: fixed;
  top: 0;
  left: -190px;
  width: 125%;
  height: 56%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dh6dvndzn/image/upload/v1709633495/imgLogin.png');
  display: block; /* Hiển thị background mặc định */
}

@media only screen and (max-width: 600px) {
  /* Ẩn background khi kích thước màn hình nhỏ */
  h1 {
    font-size: 20px;
  }

  .Register input,
  .Register select,
  .Register button {
    max-width: 100%;
  }

  .Register::before {
    display: none;
  }
}