body {
    font-size: 20px;
}

.share{
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.37);
    margin: 0 auto; 
}

.shareWrapper{
    padding: 10px;
}

.shares{
    display: flex;
    align-items: center;
}

.shareProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    font-size: 16px; /* Chỉnh kích thước font chữ */
    font-family: 'Your Preferred Font', sans-serif; /* Thay đổi font chữ */
    width: 500px;
}

.shareInput:focus {
    outline: none;
}

.shareHr{
    margin: 20px;
    }

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px; /* Chỉnh kích thước font chữ */
    font-family: 'Your Preferred Font', sans-serif; /* Thay đổi font chữ */
}

.shareOptions{
    display: flex;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding-bottom: 10px 10px;
    border-radius: 15px;
    font-weight: 450;
    background-color: darkgray;
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px; /* Chỉnh kích thước font chữ */
    font-family: 'Your Preferred Font', sans-serif; /* Thay đổi font chữ */
}

.ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 24px;
}
  
.ant-modal-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, -10%);
}
  
.ant-modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
  
.ant-modal-footer {
    text-align: center;
}
