/* CSS */
.post-frame {
  display: flex;
  flex-direction: column; /* Thay đổi layout thành dạng cột */
  align-items: center;
  margin-bottom: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.post-container {
  width: 90%; /* Thay đổi chiều rộng của bài đăng */
  max-width: 600px; /* Giới hạn chiều rộng tối đa */
  padding: 20px;
  border: 0px solid #ccc;
}
@media (max-width: 768px) {
  .post-container {
    width: 80%; /* Giảm chiều rộng của post-container trên màn hình nhỏ hơn */
  }
}

@media (max-width: 576px) {
  .post-container {
    width: 90%; /* Giảm chiều rộng của post-container trên màn hình nhỏ hơn */
  }
}
/* Thay đổi kích thước của post-container cho Galaxy Fold */
@media (max-width: 280px) {
  .post-container {
    width: 95%; /* Giảm chiều rộng của post-container cho màn hình nhỏ hơn */
    max-width: 100%; /* Chiều rộng tối đa là 100% */
  }
}

/* Thay đổi kích thước của post-card */
@media (max-width: 280px) {
  .post-card {
    width: 100%; /* Kích thước của post-card là 100% */
  }
}

/* Thay đổi kích thước của pagination-container */
@media (max-width: 280px) {
  .pagination-container {
    justify-content: center; /* Căn giữa phân trang */
  }
}
@media (max-width: 576px) {
  .post-list {
    width: 100%; /* Đảm bảo phần tử post-list chiếm toàn bộ chiều rộng trên các thiết bị nhỏ hơn */
  }

  .post-card {
    width: 100%; /* Đảm bảo card sẽ chiếm toàn bộ chiều rộng trên các thiết bị nhỏ hơn */
  }
}

.post-list {
  width: 100%; /* Đảm bảo danh sách bài đăng sẽ chiếm toàn bộ chiều rộng */
}

.post-card {
  width: 100%;
  margin-bottom: 20px;
}

.post-card-content {
  display: flex;
  flex-direction: column; /* Thay đổi layout của nội dung bài đăng */
  align-items: flex-start;
}

.post-title {
  margin: 0;
}

/* Đặt màu cho nút màu đen và chữ trắng */
.ant-btn-primary {
  background-color: black;
  color: white;
}

/* Đảo ngược màu khi hover */
.post-actions .ant-btn-primary:hover {
  background-color: rgb(131, 128, 128) !important;
  color: black !important;
}

.pagination-container {
  width: 100%; /* Đảm bảo phân trang sẽ chiếm toàn bộ chiều rộng */
  display: flex;
  justify-content: center; /* Căn giữa phân trang */
}
