.responsive-title {
  text-align: center;
}

.responsive-text {
  text-align: center;
}

@media (max-width: 768px) {
  .responsive-title {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .responsive-text {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
